<!DOCTYPE HTML>
<!-- to allow using thymeleaf -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>
        Thymeleaf Employee directory.
    </title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<div clas="container">
    <h3>Employee Directory.</h3>
    <hr>
    <a th:href="@{/api/employees/showFormForAdd}" class="btn btn-primary btn-sm mb-3">Add Employee</a>
    <table class="table table-bordered table-stripes">
        <thead class="thead-dark">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Action</th>
        </tr>

        </thead>
        <tbody>
        <tr th:each="templateEmployee : ${employees}">
            <td th:text="${templateEmployee.firstName}"/>
            <td th:text="${templateEmployee.lastName}"/>
            <td th:text="${templateEmployee.email}"/>

            <td>
                <!-- add the update button -->
                <a th:href="@{/api/employees/showFormForUpdate(employeeId=${templateEmployee.id})}" class="btn btn-info btn-sm">
                    Update
                </a>
                <!-- add the delete button -->
                <a th:href="@{/api/employees/delete(employeeId=${templateEmployee.id})}" class="btn btn-danger btn-sm"
                onclick="if(!(confirm('Are you sure you want to delete this employee?'))) return false">
                    Delete
                </a>
            </td>

        </tr>

        </tbody>
    </table>
    </hr>
</div>
</body>
</html>